# Python
.venv/
__pycache__/
*.pyc
*.pyo

# IDE
.idea/
.claude

# macOS
.DS_Store

# Dataset (trop volumineux pour git)
chest_Xray/

# Outputs générés
data/*/outputs/*.jpg
data/dataset/*/*.jpg
ai/outputs/*.jpg
checkpoints/*.npz
